<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Open Trivia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [hidden]="form_isHidden">
    <ion-item>
      <ion-label>Entrez votre pseudo</ion-label>
      <ion-input [(ngModel)]="pseudo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Difficulté</ion-label>
      <ion-select interface="popover">
        <ion-select-option *ngFor="let niveau of niveaux" value="{{niveau}}">
          {{niveau}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-toggle></ion-toggle>
      <ion-label>Sauvegardez mes informations</ion-label>
    </ion-item>
    <div [hidden]="message_isHidden" id="error_message">
      <p class="error_message">{{error_length}}</p>
    </div>
    <ion-button (click)="button_commencer_click()" expand="full"
      >Commencer</ion-button
    >
  </div>

  <div [hidden]="question_isHidden">
    <form action="post">
      <p class="detail">Bienvenue {{ pseudo }}</p>
      <ion-label>Une question placeholder ?</ion-label>
      <br />
        <ion-button
          size="small"
          type="submit"
          *ngFor="let reponse of reponses"
          (click)="button_reponse_click('bottom', reponse)"
        >
          Réponse {{reponse}}
        </ion-button>
    </form>
    <ion-button [hidden]="suivant_isHidden" expand="full"
      >Question suivante</ion-button
    >
  </div>
</ion-content>
