<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Open Trivia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div [hidden]="form_isHidden">
    <ion-item>
      <ion-label>Entrez votre pseudo</ion-label>
      <ion-input [(ngModel)]="pseudo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Difficulté</ion-label>
      <ion-select interface="popover" [(ngModel)]="niveau">
        <ion-select-option *ngFor="let niveau of niveaux" value="{{niveau}}" >
          {{niveau}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-toggle [(ngModel)]="isToggled" [checked]="isToggled" (ionChange)="toggle()"></ion-toggle>
      <ion-label>Sauvegardez mes informations</ion-label>
    </ion-item>
    <ion-button (click)="button_commencer_click(niveau)" expand="full"
      >Commencer</ion-button
      >
      <ion-button expand="full" (click)="getKitten()">Afficher un chat</ion-button>
      <img [src]="kittenImg" alt="kitten">
      <ion-button expand="full" [routerLink]="['/about']">Go to page about</ion-button>
  </div>

  
</ion-content>
