<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Open Trivia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div [hidden]="form_isHidden">
    <ion-item>
      <ion-label>Entrez votre pseudo</ion-label>
      <ion-input [(ngModel)]="pseudo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Difficulté</ion-label>
      <ion-select interface="popover" value="facile">
        <ion-select-option *ngFor="let niveau of niveaux" value="{{niveau}}">
          {{niveau}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-toggle></ion-toggle>
      <ion-label>Sauvegardez mes informations</ion-label>
    </ion-item>
    <div [hidden]="message_isHidden" id="error_message">
      <p class="error_message">{{error_length}}</p>
    </div>
    <ion-button (click)="button_commencer_click()" expand="full"
      >Commencer</ion-button
    >
  </div>

  <div [hidden]="question_isHidden">
    <ion-text class="detail">Bienvenue {{ pseudo }}</ion-text>
    <h2 class="ion-text-center">Une question placeholder ?</h2>
    <br />
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let reponse of reponses">
          <ion-button
            expand="full"
            (click)="button_reponse_click('bottom', reponse)"
            color='{{ couleurs[getRandomIntInclusive(0,3)] }}'
            >Réponse {{ reponse }}</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button [hidden]="suivant_isHidden" expand="full"
      >Question suivante</ion-button
    >
  </div>
</ion-content>
